body {
    background: silver;
    

}

#header {
    padding: 20px;
  //  background:#00438a;
    background:#004D9F;
    color: white;
    width: 98%;
}

#content
{
    background: #fff;   
    padding: 20px;
    width: 98%;
}

#footer {
    background:#004D9F;
    padding: 20px;
    color:white;
    width: 98%;
}

#divPopup {
    color: #0081C2;
}
a {
    color: #484848;
    text-decoration: none;
}



#header>a:visited { color: white;
}

#overzichtAfwezigheden {
    border-top:1px red solid;
}

#overzichtAfwezigheden tr {
    border-top:1px gray dotted;
}

